<nav id="navbar">
  <div id="container">
    <a routerLinkActive="activebutton" routerLink="/homepage" class="button"><i class="bi bi-house-door obv">&nbsp;</i> Obavijesti</a>
    <a class="button"><i class="bi bi-file-check">&nbsp;</i> Testovi</a>
    <a routerLinkActive="activebutton" routerLink="/dokumenti" class="button"><i class="bi bi-file-earmark-medical">&nbsp;</i> Dokumenti</a>
    <a class="button"><i class="bi bi-calendar2-week">&nbsp;</i> Termini</a>
    <a class="button"><i class="bi bi-easel3-fill">&nbsp;</i> Moji radovi</a>
    <a class="button"><i class="bi bi-ui-checks">&nbsp;</i> Prisustva</a>
    <a class="button"><i class="bi bi-graph-up">&nbsp;</i> Uspjeh</a>
    <a class="button"><i class="bi bi-person-lines-fill">&nbsp;</i> Moji podaci</a>
    <a class="button"><i class="bi bi-envelope-paper-fill">&nbsp;</i> Potvrde</a>
  </div>
</nav>



