#navbar{
  height: 100%;
  position: fixed;
  width: 15%;
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
  background-color: rgba(0, 0, 0, 0.85);
}
#navbar a{
  color: white;
  height: 50px;
  line-height: 30px;
  display: block;
  padding-left: 30px;
  padding-top: 10px;
  text-decoration: none;
  transition-property: background-color;
  transition-duration: 0.4s;
  border-bottom-left-radius: 20px;
  border-top-left-radius: 20px;
}

#navbar a:hover{
  background-color: gray;
  cursor: pointer;
  border-left: 2px solid gray;
}

#container{
  top: 10%;
  position: relative;
  width: 100%;
  height: 100%;
}
i{
  font-size: 20px;
}
