<div id="wrapper">
  <div id="heading"><h2><i class="bi bi-house-door obv"></i>Obavijesti</h2></div>
  <div id="inputDiv">
    <input type="text" placeholder="Pretraga obavijesti...">
  </div>
  <table id="bigtable">
    <tr id="bigrow" *ngFor="let s of niz">
      <table id="smalltable">
        <tr>
          <td [width]="50" rowspan="3"><i class="bi bi-envelope-fill obv"></i></td>
          <td><h4 style="color: #158ad8">BP::Teorijski ispit(15.02.2022) : : Spisak studenata</h4></td>
        </tr>
        <tr>
          <td style="font-size:13px;color: gray">14.02.2022 17:28 - Baze podataka Napisao/la Elda Sultić</td>
        </tr>
        <tr>
          <td>Upis ocjena ce se obaviti 19/02/2021 u 15:30. Na upis obavezno donijeti popunjenu i potpisanu prijavu sa tacnim datumom polaganja.</td>
        </tr>
      </table>
      <br>
    </tr>
  </table>
</div>
<div id="sideDiv">
  <div id="prviBlok">
    <div class="alert alert-danger d-flex align-items-center" role="alert">
      <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Danger:"><use xlink:href="#exclamation-triangle-fill"/></svg>
      <div>
        Ispit iz Racunarske mreze je za <b>9</b> dana!
      </div>
    </div>
  </div>
  <div id="drugiBlok">
    <div style="height: 500px" class="alert alert-primary d-flex align-items-top" role="alert">
      <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Info:"><use xlink:href="#info-fill"/></svg>
      <div>
        Zadnji dokumenti
      </div>
    </div>
  </div>
  <div id="treciBlok">
    <div style="height: 300px" class="alert alert-success d-flex align-items-top gg" role="alert">
      <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Success:"><use xlink:href="#check-circle-fill"/></svg>
      <div>
        Ukupni uspjeh
      </div>
      <div id="progressBarsDiv">
        <div class="eachGodina">
          <div>Prva godina</div>
          <div class="progress">
            <div class="progress-bar" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </div>
        <div class="eachGodina">
          <div>Prva godina</div>
          <div class="progress">
            <div class="progress-bar" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
  <symbol id="check-circle-fill" fill="currentColor" viewBox="0 0 16 16">
    <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
  </symbol>
  <symbol id="info-fill" fill="currentColor" viewBox="0 0 16 16">
    <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z"/>
  </symbol>
  <symbol id="exclamation-triangle-fill" fill="currentColor" viewBox="0 0 16 16">
    <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
  </symbol>
</svg>
