#wrapper{
  position: relative;
  width: 100%;
  height: 100%;
  left: 6%;
}
#inputDiv{
  padding-left: 20px;
  padding-bottom: 10px;
}
input{
  border-radius: 5px;
  border: 1px solid black;
}
#heading{
  padding-top: 5px;
}
#bigtable{
  width: 70%;
  border: 1px solid rgba(0, 0, 0, 0.13);
}

#bigrow{
  border-bottom: 1px solid rgba(0, 0, 0, 0.13);
}

#smalltable{
  margin-right:10px;
  margin-top: 10px;
}

.obv{
  font-size: 40px;
  padding-right: 20px;
  padding-left:20px;
}

#sideDiv{
  position: absolute;
  width: 20%;
  height: auto;
  right:2.5%;
  top: 99px;
}





