<div id="wrapper">
  <div id="heading">
    <h2><i class="bi bi-house-door obv"></i>Obavijesti</h2>
    <div class="search-box">
      <button class="btn-search"><i class="bi bi-search"></i></button>
      <input type="text" class="input-search" placeholder="Pretraga...">
    </div>
  </div>

  <table id="bigtable">
    <tr id="bigrow" *ngFor="let s of obavijesti">
      <table id="smalltable">
        <tr>
          <td rowspan="3"><i class="bi bi-envelope-fill obv"></i></td>
          <td><h4 style="color: #158ad8">{{s.naslov}}</h4></td>
        </tr>
        <tr>
          <td style="font-size:13px;color: gray">{{s.vrijemeObjave}} Napisao/la {{s.autor}}</td>
        </tr>
        <tr>
          <td>{{s.sadrzaj}}</td>
        </tr>
        <tr>
          <div style="height: 20px"></div>
        </tr>
      </table>
    </tr>
  </table>
</div>


