<div id="sideDiv">
  <div id="prviBlok">
    <div class="alert alert-danger d-flex align-items-center" role="alert">
      <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Danger:"><use xlink:href="#exclamation-triangle-fill"/></svg>
      <div>
        Ispit iz Racunarske mreze je za <b>9</b> dana!
      </div>
    </div>
  </div>
  <div id="drugiBlok">
    <div style="height: 500px" class="alert alert-primary d-flex align-items-top" role="alert">
      <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Info:"><use xlink:href="#info-fill"/></svg>
      <div>
        Zadnji dokumenti
      </div>
    </div>
  </div>
  <div id="treciBlok">
    <div style="height: 300px" class="alert alert-success d-flex align-items-top gg" role="alert">
      <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Success:"><use xlink:href="#check-circle-fill"/></svg>
      <div>
        Ukupni uspjeh
      </div>
      <div id="progressBarsDiv">
        <div class="eachGodina">
          <div>Prva godina</div>
          <div class="progress">
            <div class="progress-bar" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </div>
        <div class="eachGodina">
          <div>Prva godina</div>
          <div class="progress">
            <div class="progress-bar" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
